$primary-color: #444;
$secondary-color: #eece1a;
$text-color: white;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.8;

@mixin easeOut{
	transition: all .3s ease-out;
}

@mixin background{
	@if $show-home-image{
		&#bg-img{
			background: $home-image;
			background-size: cover;
			background-attachment: fixed;

			&::after{
				content:'';
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
				background-color: rgba($primary-color, $background-opacity);
				z-index: -1;
			}
		}

		
	}
}

@mixin mediaSm{
	@media screen and (max-width: 500px){
		@content;
	}
}

@mixin mediaMd{
	@media screen and (max-width: 768px){
		@content;
	}
}

@mixin mediaLg{
	@media screen and (min-width: 769px) and (max-width: 1170px){
		@content;
	}
}

@mixin mediaXl{
	@media screen and (min-width: 1171px){
		@content;
	}
}