.menu-btn{
	position: fixed;
	right: 35px;
	top: 35px;
	cursor: pointer;
	z-index: 3;
	@include easeOut;

	.btn-line{
		width: 30px;
		height: 4px;
		background-color: set-text-color($primary-color);
		margin-bottom: 4px;
		@include easeOut;
	}

	.btn-line:nth-child(2){
		transition: all 0s;
	}

	&.close{
		transform: rotate(180deg);

		.btn-line:nth-child(1){
			transform: rotate(45deg) translate(5px, 6px);
		}

		.btn-line:nth-child(2){
			opacity: 0;
		}

		.btn-line:nth-child(3){
			transform: rotate(-45deg) translate(5px, -6px);
		}
	}
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	visibility: hidden;

	&.show{
		visibility: visible;
	}
	
	.menu-branding, .menu-nav{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		// overflow: hidden;
		flex-flow: column wrap;
		float: left;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 100vh;	
	}

	.menu-nav{
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: rgba($text-color, 0.8);
		transform: translate3d(0, -100%, 0);
		@include easeOut;

		&.show{
			transform: translate3d(0, 0, 0);
		}

		.nav-item{
			transform: translate3d(600px, 0, 0);
			@include easeOut;

			&.show{
			transform: translate3d(0, 0, 0);
			}

			&.active > a{
				color: $secondary-color;
			}
		}

		.nav-link{
			color: $primary-color;
			display: block;
			position: relative;
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: 200;
			font-family: 'Permanent Marker', cursive;
			padding: 2rem 3rem;
			@include easeOut;

			&:hover{
				color: $secondary-color;
				transform: scale(1.1);
			}
		}
	}

	.menu-branding{
		background-color: rgba($primary-color, 0.8);
		transform: translate3d(0, 100%, 0);
		@include easeOut;

		&.show{
			transform: translate3d(0, 0, 0);
		}

		.portrait{
			// opacity: 1 !important;
			height: 250px;
			width: 250px;
			border-radius: 50%;
			border: solid 5px $secondary-color;
			background: url(../img/portrait4.png);
			background-size: cover;
		}
	}

}

//nav item delay
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * .1s !important;
  }
}