//widescreen
@include mediaXl{
	.projects{
		grid-template-columns: repeat(4, 1fr) !important;
	}

}

//Desktops & laptops
@include mediaLg{
	.projects{
		grid-template-columns: repeat(3, 1fr) !important;
	}

}

//Tablets & small laptops
@include mediaMd{
	main{
		align-items: center;

		.lg-heading{
			margin-top: 10vh !important;
			line-height: 1;
			margin-bottom: 1rem;
		}

		.sm-heading{
			font-size: 1.6rem !important; 
		}

		.quote, .icons{
			text-align: center !important;
		}
	}

	.menu-branding, .menu-nav{
		float: none !important;
		width: 100% !important;
		min-height: 0 !important;

		&.show{
			transform: translate3d(0,0,0) !important;
		}
	}

	.menu-branding{
		height: 30vh !important;
		transform: translate3d(-100%, 0, 0) !important;

		.portrait{
			width: 150px !important;
			height: 150px !important;
			background: url(../img/portrait_small.jpg) !important; 
		}
	}

	.menu-nav{
		height: 70vh !important;
		transform: translate3d(100%, 0, 0) !important;

		.nav-link{
			font-size: 2rem !important;
		}
	}

	#about{
		text-align: center;

		.about-info{
			grid-template-areas:"bio-image" 
								"bio"
								"bio"
                      		    "job-1"
                      		    "job-2"
                      		    "job-3";
            grid-template-columns: 1fr;
		}
	}

	.projects{
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

//Smartphoes
@include mediaSm{
	.projects{
		grid-template-columns: 1fr !important;
	}

}
