@import 'config';
@import 'menu';


*{
	box-sizing: border-box;
}

html{
	font-size: 10px;
}

body{
	@include background;
	margin: 0;
	padding: 0 30px;
	background: $primary-color;
	color: $text-color;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.5rem;
}

a{
	color: set-text-color($primary-color);
	text-decoration: none;
}

.head{
	position: fixed;
	width: 100%;
	z-index: 2;
}

h1,
h2,
h3{
	margin: 0;
	font-weight: 400;

	&.lg-heading{
		font-family: 'Permanent Marker', cursive;
		font-size: 8rem;
		letter-spacing: 1px;
	}

	&.sm-heading{
		font-size: 2rem;
		padding: 0.2rem 1rem;
		border: solid 1px set-text-color($primary-color);
		letter-spacing: 1px;
		display: inline-block;
	}

	&.quote{
		margin-top: 10vh;
		font-family: 'Nanum Pen Script', cursive;
		font-weight: lighter;
		text-align: right;
		font-size: 2.3rem;
		line-height: 1;
	}
}

main{
	padding: 5rem;
	min-height: calc(100vh - 60px);
	text-align: center;

	&#home{
		overflow: hidden;

		h1{
			margin-top: 15vh;
		}
	}

	.text-secondary{
			color: $secondary-color;
	}
}

#home{
	.wrap{
		width: 70%;
		position: relative;
		left: 15%;
	
		.icons{
			text-align: right;
			margin-top: 2rem;

			a{
				color: $secondary-color;
				padding: 0.4rem;

				&:hover{
					color: set-text-color($primary-color);
					@include easeOut();
				}
			}
		}	
	}
}

#about{
	text-align: left;
	// width: 100%;

	.lg-heading, .quote{	
		display: block;
	}

	.quote{
		margin-bottom: 20px;
		text-align: left;
		margin: 0 0 5rem 0;
	}

	.about-info{
		display: grid;
		grid-template-areas: "bio-image bio bio"
                      		 "job-1 job-2 job-3";
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        .bio-image{
        	grid-area: bio-image;
			border-radius: 50%;
			margin: auto;
			border: $secondary-color solid 3px;
			width: 80%;
        }

        .bio{
			grid-area: bio;
			width: 100%;
			margin: 0 auto;
  			border-radius: 5px;
  			box-shadow: 0 16px 16px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.15);

			.bio-bar{
				position: relative;
				height: 30px;
				border-radius: 5px 5px 0 0 ;
				background: linear-gradient(#EBEBEB, #E0E0E0, #D3D3D3);
				text-align: center;
				border-bottom: solid 2px #c5c5c5;

				.circle{
					display: inline-block;
					position: absolute;
					height: 15px;
					width: 15px;
					border-radius: 50%;
					top: 7px;
				}

				.circle-1{
					left: 20px;
					background: #EC6B60;
				}
				.circle-2{
					left: 44px;
					background: #F6BE50;
				}
				.circle-3{
					left: 68px;
					background: #63C655;
				}
				
			}

        	.bio-description{
				padding: 20px;
        	}	
        }

        .job{
        	border-radius: 5px;
        	background: darken($primary-color, 5);
        	padding: .7rem;
        	border-bottom: $secondary-color solid 5px;
    		box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

    		hr.style-eight {
			    overflow: visible; /* For IE */
			    padding: 0;
			    border: none;
			    border-top: medium double $secondary-color;
			    color: $secondary-color;
			    text-align: center;
			}
			hr.style-eight:after {
			    content: "§";
			    display: inline-block;
			    position: relative;
			    top: -0.7em;
			    font-size: 1.5em;
			    padding: 0 0.1em;
			    background: #f2f2f2;
			}
			h3{
				font-size: 1.6rem;
				display: block;
				height: 40px;
			}
			.job-title{
				margin: 0.1rem 0;
			}
			p{
				font-size: 1.4rem;
			}
        }

        .job-1{
        	grid-area: job-1;
        }

        .job-2{
        	grid-area: job-2;
        }

        .job-3{
        	grid-area: job-3;
        }
	}
}

#work{
	.quote{
		margin-bottom: 3rem;
		text-align: center;
		margin: 0 0 5rem 0;
	}

	.projects{
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);

		.project-image{
			width: 100%;
			border: 3px solid set-text-color($primary-color);
		}

		.item{
			@include easeOut;

			&:hover{
				transform: scale(1.05);
				-webkit-box-shadow: 0 10px 6px -6px #777;
				-moz-box-shadow: 0 10px 6px -6px #777;
				box-shadow: 0 10px 6px -6px #777;
			}
		}
	}

	.view{
		display: block;
		padding: 0.5rem 0;
		background: darken($primary-color, 5);
		border-radius: 5px;
		@include easeOut;
		&:hover{
			background: $secondary-color;
			color: set-text-color($primary-color);
		}
	}

}

#contact{
	.quote{
		text-align: center;
		margin-bottom: 3rem;
	}
	.boxes{
		.email{
			display: inline-block;
			padding: 2rem 5rem;
			border: 3px solid $secondary-color;
			@include easeOut;
			&:hover{
				transform: scale(1.1);
				-webkit-box-shadow: 0 10px 6px -6px #777;
				-moz-box-shadow: 0 10px 6px -6px #777;
				box-shadow: 0 10px 6px -6px #777;
			}
		}	
	}
}

#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}




@import 'mobile';